html {
  background-color: #f5fff6;
}
body {
  box-sizing: border-box;
  /* max-width: 1300px; */
  margin: 0 auto;
  overflow-x: hidden;
}
nav {
  max-width: 1300px;
}
.banner-section {
  background: #013c2a;
  background: linear-gradient(
    265deg,
    rgba(1, 60, 42, 1) 15%,
    rgba(16, 125, 91, 1) 49%,
    rgba(1, 60, 42, 1) 90%
  );
}
